.big_row_table {
    background-color: #fff7e8;
    font-family: Arial;
    font-size: 12px;
    height: 800px;
}

code {
    text-align: left;
    background-color: rgba(238, 238, 238, 1);
    color: #000975;
    border-radius: 10px;
    padding: 10px;
    white-space: pre;
    display: block;
    font-size: 14px;
    font-family: courier;
    width: 894;
}

.center {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.code_description {
    text-align: left;
    color: #242346;
    font-weight: bold;
}

.header {
    background-color: aqua;
}

.base_table {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    text-align: left;
    margin-top: 10px;
    background-color: rgb(224, 224, 224);
}

.base_title {
    text-shadow: 2px 2px 6px #0200c8;
    text-align: center;
    letter-spacing: 0.3em;
    color: #050505;
    font-size: 35;
    height: 150px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff;
    font-family: serif;
}

a.topnav:link, a.topnav:visited {
    color: #f2f6f1;
    text-decoration: none;
}

.selected_course {
    color: rgba(255, 6, 185, 0.85);
    font-size: 15;
    text-decoration: underline;
}

#topnavTut {
    height: 20px;
    width: 1175px;
    margin: auto;
    word-spacing: 12px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 80px;
    background-color: #636363;
    text-align: right;
    font-family: monospace;
}

.bottomNavTut {
    height: 20px;
    width: 1170px;
    margin: auto;
    word-spacing: 12px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: #E4E4E4;
    text-align: center;
    color: black;
    font-family: monospace;
}

li a {
    font-size: 15px;
    text-decoration: none;
    color: #2700C2;
    display: block;
    width: 200px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    margin-right: 5px;
}

li a, li.selected_course {
    margin-top: 8;
}

li:not(.selected_course):hover {
    background: #b6b6b6;
    color: red;
}

a, a:visited {
    text-decoration: none;
    color: #2700C2;
}

a:hover {
    text-decoration: none;
    color: red;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: .8em 0 1em 0;
    padding: 0;
    text-align: justify;
}

p {
    font-size: 17px;
    font-family: Helvetica, Arial, Sans-Serif;
    margin: 10px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul {
    width: 195px;
    padding-left: 25px;
}

body {
    background-color: #CACACA;
    margin: 0;
}

h1 {
    text-align: center;
}

#left_menu {
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(224, 224, 224);
}

#logo {
    width: 22%;
    border-style: dotted;
    border-width: 0 1px 1px 0;
    border-color: green;
    border-bottom-right-radius: 70px;
}

