.code {
    text-align: left;
    background-color: rgba(47, 98, 114, 0.16);
    color: #00008b;
    border: 1px solid #3f418a;
    padding: 20px;
}

.center {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.code_description {
    text-align: left;
    color: #242346;
    font-weight: bold;
}