<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <!--<servlet>-->
    <!--<servlet-name>guestbook</servlet-name>-->
    <!--<servlet-class>guestbook.GuestbookServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>guestbook</servlet-name>-->
    <!--<url-pattern>/guestbook</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Chapter1 Servlet</servlet-name>
        <servlet-class>com.appspot.tutorial.headfirst.servlet.Ch1Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Chapter1 Servlet</servlet-name>
        <url-pattern>/Serv1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>com.tutorial.headfirst.beer.web.BeerSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/admin/main_admin.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/myadmin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Add Tutorial</servlet-name>
        <servlet-class>com.it_tutorial.admin.tutorial.AddTutorial</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Tutorial</servlet-name>
        <url-pattern>/AddTutorial.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add Curs</servlet-name>
        <servlet-class>com.it_tutorial.admin.tutorial.AddCurs</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Curs</servlet-name>
        <url-pattern>/AddCurs.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add Subject</servlet-name>
        <servlet-class>com.it_tutorial.admin.tutorial.AddSubject</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Subject</servlet-name>
        <url-pattern>/AddSubject.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Add Tutorial Form</servlet-name>
        <jsp-file>/admin/add_tutorial.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Tutorial Form</servlet-name>
        <url-pattern>/AddTutorialForm.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add Curs Form</servlet-name>
        <jsp-file>/admin/add_curs.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Curs Form</servlet-name>
        <url-pattern>/AddCursForm.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add Subject Form</servlet-name>
        <jsp-file>/admin/add_subject.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Subject Form</servlet-name>
        <url-pattern>/AddSubjectForm.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Show Tutorials</servlet-name>
        <servlet-class>com.it_tutorial.TutorialInfoProvider</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Show Tutorials</servlet-name>
        <url-pattern>/ShowTutorials.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Show Courses</servlet-name>
        <servlet-class>com.it_tutorial.CourseInfoProvider</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Show Courses</servlet-name>
        <url-pattern>/ShowCourses.do</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>ShowTutorials.do</welcome-file>
    </welcome-file-list>
</web-app>